@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto !important;} /* End http://www.cursors-4u.com */

h1 {
	font-family: 'Fredoka One';
	font-size: 100px;
	color: #ffffff;
	text-align: center;
	line-height: 0px;
}

h2 {
	font-family: 'Comfortaa';
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 10px;
	line-height: 0px;
}

h3 {
	font-family: 'Comfortaa';
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

p {
	font-family: 'Comfortaa';
	color: #ffffff;
	font-size: 10px;
	position: fixed;
	bottom: 70px;
	right: 10px;
}

.momo {
	width: 30%;
	height: 50%;
	float: left;
	position: fixed;
	bottom: 0;
}

.music {
	float:;
	position: fixed;
	bottom: 0;
	right: 10px;
}

.tora {
	width: 25%;
	height: 25%;
	float: right;
	position: fixed;
	top: 0;
	right: 0;
}

.catvids {
	padding: 5px;
}