@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

div {
	float: middle;
	padding-top: 1px;
	padding-bottom: 3px;
}

h1 {
	font-family: 'Fredoka One';
	font-size: 100px;
	color: #ffffff;
	text-align: center;
}

#header {
	padding-left: 3px;
	padding-right: 3px;
}

.momo {
	width: 30%;
	height: 50%;
	float: left;
	position: fixed;
	bottom: 0;
}

.music {
	float:;
	position: fixed;
	bottom: 0;
}

/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto !important;} /* End http://www.cursors-4u.com */